.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #c8c8c8;
}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #c8c8c8;
}

/* react-bootstrap tooltip colors */
.info .tooltip-arrow { border-bottom-color: #ccc !important; }
.info .tooltip-inner { background-color: #ccc !important; color: #222; }

/* rickshaw */
.x_tick_custom {
	font-size: 10px;
  font-weight: 300;
  position: relative;
}
