/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat-Regular'),
       url('../fonts/montserrat-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v7-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat-Bold'),
       url('../fonts/montserrat-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v7-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* raleway-300 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/raleway-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Raleway Light'), local('Raleway-Light'),
       url('../fonts/raleway-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v11-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v11-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../fonts/raleway-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v11-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #c8c8c8;
}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #c8c8c8;
}

/* modules (based on btn-default) */
.module {
  color: #ffffff;
  border-color: #3a3f44;
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  -webkit-filter: none;
          filter: none;
}

/* react-bootstrap tooltip colors */
.tooltip { pointer-events: none; }
.info.top .tooltip-arrow { border-top-color: #ccc !important; }
.info.bottom .tooltip-arrow { border-bottom-color: #ccc !important; }
.info .tooltip-inner { background-color: #ccc !important; color: #222; }
.error.top .tooltip-arrow { border-top-color: #ee5f5b !important; }
.error.bottom .tooltip-arrow { border-bottom-color: #ee5f5b !important; }
.error .tooltip-inner { background-color: #ee5f5b !important; }
.warning.top .tooltip-arrow { border-top-color: #f89406 !important; }
.warning.bottom .tooltip-arrow { border-bottom-color: #f89406 !important; }
.warning .tooltip-inner { background-color: #f89406 !important; }

/* rickshaw */
.x_tick_custom {
	font-size: 10px;
  font-weight: 300;
  position: relative;
}
